@font-face {
  font-family: 'GothamBlack';
  src: url('../fonts/black/Gotham-Bold.eot');
  src: url('../fonts/black/GothamBlack.woff') format('woff'), url('../fonts/black/GothamBlack.ttf') format('truetype'), url('../fonts/black/GothamBlack.woff') format('woff'), url('../fonts/black/GothamBlack.ttf') format('truetype'), url('../fonts/black/GothamBlack.svg#GothamBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/bold/Gotham-Bold.eot');
  src: url('../fonts/bold/Gotham-Bold.woff2') format('woff2'), url('../fonts/bold/Gotham-Bold.woff') format('woff'), url('../fonts/bold/Gotham-Bold.ttf') format('truetype'), url('../fonts/bold/Gotham-Bold.svg#Gotham-Bold') format('svg'), url('../fonts/bold/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/book/Gotham-Book.eot');
  src: url('../fonts/book/Gotham-Book.woff2') format('woff2'), url('../fonts/book/Gotham-Book.woff') format('woff'), url('../fonts/book/Gotham-Book.ttf') format('truetype'), url('../fonts/book/Gotham-Book.svg#Gotham-Book') format('svg'), url('../fonts/book/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/*Default styles*/
body{color: #3e3d3d;}
a{color: #0097dc;}
input[type=text],
input[type=email],
input[type=password],
select{height: 46px;}
input[type=text],
input[type=email],
input[type=password],
textarea, select{
  border: 1px solid #adadad !important;
  padding-left: 10px !important;
  color: #6a6a6a;
  background-color: #FFF;
}
textarea{padding: 10px !important;}
input[type=submit], input[type=button], button{
  background-color: #0097dc;
  border: none;
  color: #FFF;
  height: 31px;
  min-width: 105px;
  padding: 0 10px;
}
h1.title{
  color: #FFF;
  position: relative;
  top: 337px;
  font-size: 30px;
  text-align: center;
}
/*End default styles*/
.know-more {
  background: #0072bc;
  color: #FFF;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  float: right;
  position: relative;
  top: 9px;
}
h3.title {
  color: #FFF;
  height: 45px;
  padding-left: 25px;
  line-height: 49px;
  text-transform: uppercase;
}
h3.title.news {
  background-color: #ff3541;
}
h3.title.calendar,
h3.title.online {
  background-color: #00c40d;
}
h3.title.twitter {
  background-color: #0097dc;
}
h3.title.blog,
h3.title.forum {
  background-color: #aa2097;
}
h3.title.comments {
  background-color: #ffa700;
}
h3.title.login {
  background-color: #ff7500;
}
.navigation-options {
  padding: 15px 0 30px 0;
}
.change-line {
  float: right;
}
.change-line button {
  background-color: #0097dc;
  color: #FFF;
  box-shadow: 2px 2px 2px 0px rgba(21, 21, 21, 0.5);
  border: none;
  padding: 4px 12px;
  height: auto;
}
.change-line .btn-default:hover {
  color: #0097dc;
}
.change-line .dropdown-menu li {
  font-size: 11px;
}
.change-line .dropdown-menu li a {
  color: #4b4949;
}
.change-line .dropdown-menu li a img {
  margin-right: 10px;
}
.change-line .dropdown-menu li a span {
  display: inline-block;
  vertical-align: middle;
}
.change-line .dropdown-menu li > a {
  padding: 8px 20px;
}
.inline-users {
  padding: 0 0 0 15px;
}
.the-users {
  background-color: #eaedea;
  margin: 0;
}
.the-users .image-profile {
  padding: 15px 0 15px 15px;
  margin-right: 15px;
}
.the-users .image-profile img {
  max-width: 50px;
  width: 50px;
}
.the-users .name-user {
  color: #3e3d3d;
  height: 80px;
  line-height: 80px;
}
/*COMMENTS*/
.last-comments {
  background-color: #efefef;
  margin: 0 0 10px 0;
}
.last-comments .profile-image {
  padding: 7px;
  max-width: 70px;
}
.last-comments h6,
.last-comments content {
  color: #3e3d3d;
}
.last-comments h6 {
  font-family: 'Gotham-Bold';
  margin-bottom: 0px;
}
.last-comments content {
  font-size: 11px;
}
.last-comments content p {
  line-height: 13px;
}
/*DECENT COMMENTS*/
.decent-comments div.row{
  margin: 0;
  background-color: #efefef;
  margin-bottom: 10px;
}
.decent-comments .comment-avatar{
  width: 69px;
  height: 69px;
  display: block;
}
.decent-comments .comment-avatar img{
  width: 100%;
  height: 100%;
}
.decent-comments .col-md-4{
  padding-left: 7px;
}
.decent-comments hr{display: none;}
.decent-comments ul{
  padding: 0;
}
.decent-comments li{
  list-style: none;
  background-color: #efefef;
  margin: 0 0 10px 0;
  padding: 7px;
}
.decent-comments .comment-author{
  font-family: 'Gotham-Bold';
  text-transform: uppercase;
  color: #3e3d3d;
}
.decent-comments .comment-link{display: block;}
.decent-comments .comment-link,
.decent-comments .comment-link a{
  color: #3e3d3d;
}
.decent-comments .comment-link a:hover{
  text-decoration: underline;
}
.decent-comments .comment-link,
.decent-comments .comment-link a,
.decent-comments .comment-excerpt{
  font-size: 11px;
}
body {
  background: #FFF;
  font-family: 'Gotham-Book';
}
header {
  padding: 30px 15px;
}
header .logo,
header .logo-cun,
header .social-icons {
  position: relative;
}
header .logo-cun {
  margin-right: 20px;
}
header .social-icons {
  margin-right: 2px;
}
.navbar {
  background-color: #0097dc;
  color: #FFF;
  margin-bottom: 0px;
}
.navbar ul {
  width: 100%;
}
.navbar li {
  font-family: 'Gotham-Book';
  font-size: 16px;
  /*width: 14.285714285714286%;*/
  width: 20%;
  text-align: center;
  padding: 13px 0;
  white-space: nowrap;
}
.navbar-default .navbar-nav>li>a{color: #FFF;}
#knowledges-lines .row {
  border-bottom: 1px solid #e3e2e2;
  padding: 43px 0 37px;
}
#knowledges-lines .col-md-2 {
  text-align: center;
}
#knowledges-lines ul{width: 100%;}
#knowledges-lines ul li{width: 16.666666666666667%;}
#knowledges-lines li img {
  margin-bottom: 12px;
}
#knowledges-lines ul li h5 {
  color: #636060;
}
#knowledges-lines ul li,
#knowledges-lines ul li h5{text-align: center;}
.three-cols .left-col > .row {
  border-bottom: 1px solid #d7d7d7;
  padding: 10px 0;
  margin: 0;
}
.three-cols .left-col > .row:last-child {
  border-bottom: none;
}
.image-article {
  padding-left: 0;
  background: url("../images/Genesis_Cordoba_Grises.png") no-repeat;
  background-size: 80%;
  min-height: 100px;
  background-position: center;
}
.three-cols .content-article {
  padding: 0px 15px 30px 0;
}
.three-cols .title-article,
.three-cols content {
  color: #3e3d3d;
}
.three-cols .title-article {
  font-family: 'Gotham-Bold';
}
.three-cols content {
  max-height: 74px;
}
footer {
  background-color: #0097dc;
  color: #FFF;
  margin-top: 20px;
  padding-bottom: 24px;
  padding-top: 24px;
  text-align: center;
}
footer .logo-white {
  margin-bottom: 25px;
}
footer .info-footer {
  margin: auto;
  float: none;
}
footer .info-footer p {
  margin-top: 25px;
}
.logos-end {
  float: none;
  margin: auto;
  padding: 20px 0;
}
.logos-end .better-country {
  text-align: center;
}
#wp-calendar{
  width: 100%;
}
#wp-calendar caption{display: none}
#wp-calendar thead tr th{
  background-color: #1e96d4;
  color: #FFF;
}
#wp-calendar thead tr th, #wp-calendar tr td{
  height: 43px;
  text-align: center;
}
#wp-calendar tbody tr td{
  border: 1px solid #dcdcdc;
}
/*WIDGET LOGIN*/
#bp-login-widget-form label{
  display: block;
  color: #6a6a6a;
  font-size: 16px;
}
#bp-login-widget-form input.input{
  border: 1px solid #adadad;
  height: 46px;
  padding-left: 10px;
  color: #6a6a6a;
  background-color: #FFF;
  width: 100%;
}
#bp-login-widget-form{
  color: #5e5e5e;
  font-size: 15px; 
}
.bp-login-widget-register-link{color: #0097dc}
.forgetmenot{
  color: #5e5e5e;
  margin: 15px 0;
}
#bp-login-widget-submit{
  background-color: #0097dc;
  border: none;
  color: #FFF;
  height: 31px;
  min-width: 105px;
}
.bp-login-widget-user-avatar, .bp-login-widget-user-links{
  display: inline-block;
}
.bp-login-widget-user-links{
  margin-left: 10px;
}
.bp-login-widget-user-link a{
  text-transform: uppercase;
  font-family: 'Gotham-Bold';
  color: #3e3d3d;
}
/*COMMENT LIST*/
.commentlist{padding-left: 0px;}
.commentlist .children{padding-left: 20px;}
.commentlist li.comment{
  margin-bottom: 10px;
}
.commentlist li.comment, .commentlist .children li{list-style: none;}
.comment-body{
  background-color: #ebebeb;
  padding: 7px;
  margin-top: 10px;
}
.commentlist .comment-author .fn a, #reply-title > a{
  color: #3e3d3d;
  font-family: 'Gotham-Bold';
  text-transform: uppercase;
  font-style: normal;
}
.commentlist .comment-meta{margin-top: 5px;}
.commentlist .comment-meta a{
  color: #3e3d3d;
  text-decoration: none;
  font-size: 11px;
}
.commentlist .comment-edit-link{
  color: #0097dc;
  font-size: 12px;
}
.commentlist .comment-edit-link:hover{text-decoration: underline;}
.commentlist li.comment p{
  margin-top: 10px;
}
.comment-form-comment textarea{width: 100%;}
/*Widget Forum*/
.widget-forum ul{
  padding: 0;
}
.widget-forum li{
  background-color: #ebebeb;
  padding: 7px;
  margin-top: 10px;
  list-style: none; 
}
/*Forums*/
#bbpress-forums .bbp-search-form input.button{
  height: 46px;
}
#bbpress-forums .bbp-search-form input[type=text]{width: 300px;}
.bbp-breadcrumb{
  margin-top: 10px;
  border-bottom: 1px solid #3e3d3d;
  margin-bottom: 20px;
}
.bbp-forums, .bbp-topics, .bbp-replies{
  padding: 0;
}
.bbp-forums > li, .bbp-topics > li, .bbp-replies > li{
  list-style: none;
  height: 40px;
}
.bbp-header .forum-titles li{
  font-family: 'Gotham-Bold';
  text-transform: uppercase;
  font-size: 16px;
}
.bbp-header .forum-titles li, .bbp-body ul > li{
  float: left;
  text-align: center;
  list-style: none;
}
.forum-titles .bbp-topic-title,
.bbp-body ul >li.bbp-topic-title,
.forum-titles .bbp-topic-freshness,
.bbp-body ul >li.bbp-topic-freshness{
  width: 40%  
}
.forum-titles .bbp-topic-voice-count,
.bbp-body ul >li.bbp-topic-voice-count,
.forum-titles .bbp-topic-reply-count,
.bbp-body ul >li.bbp-topic-reply-count{
  width: 10%;
}
.bbp-body, .bbp-body ul > li{
  list-style: none;
  height: 50px;
  padding: 5px 0px;
  min-height: 50px;
  font-size: 12px;
}
.bbp-body ul{
  display: block;
  width: 100%;
  height: 50px;
}
.bbp-body ul:nth-child(2n+1){
  background-color: #eaedea;
}
.bbp-form select{
  min-width: 336px;
}
.bbp-topic-form label{
  font-size: 18px;
}
#bbpress-forums .wp-editor-container textarea.wp-editor-area{margin-bottom: 20px;}

/*Twitter*/
.tp_recent_tweets ul{
  padding: 0px;
}
.tp_recent_tweets li{
  list-style: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  padding: 0 5px 10px 5px;
}
/*Projects*/
.rol-user {
  margin-top: 20px;
}
.user-project {
  font-family: 'Gotham-Bold';
}
.name-user {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gruop-title {
  font-size: 4vh;
}
.content-proyect {
  margin-right: 2%;
  width: 73%;
  margin-top: 20px;
}
.content-proyect .first-part {
  background: #d73c47;
}
.content-proyect .second-part {
  background: #f1a01b;
}
.content-proyect .third-part {
  background: #6b1d63;
}
.content-proyect .second-part,
.content-proyect .third-part {
  padding-top: 40px;
}
.content-proyect .divided-content {
  margin: 0;
  padding: 10px 20px;
}
.content-proyect .divided-content .left-content {
  padding-left: 0;
}
.content-proyect .divided-content .right-content {
  padding-right: 0;
}
.content-proyect .divided-content .right-content .item-project {
  top: 35px;
}
.content-proyect .divided-content .right-content .item-project,
.content-proyect .divided-content .right-content h5,
.content-proyect .divided-content .right-content .logo-project {
  border-radius: 20px 0px 0px 20px;
}
.content-proyect .divided-content .right-content h5 {
  float: right;
  top: 10px;
}
.content-proyect .divided-content .right-content .institution-project {
  top: 35px;
}
.content-proyect h5 {
  background-color: #0097dc;
  color: #FFF;
  border-radius: 5px;
  padding: 8px 0 8px 10px;
  position: relative;
  z-index: 2;
  width: 80%;
}
.content-proyect .item-project {
  background-color: #FFF;
  color: #5b5b5f;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  top: -25px;
  padding: 40px 0px 20px 10px;
  word-wrap: break-word;
}
.content-proyect .item-project h4 {
  color: #434142;
  font-family: 'Gotham-Bold';
}
.content-proyect .title-project {
  color: #ff3945;
  font-family: 'Gotham-Bold';
  padding-right: 20px;
}
.content-proyect .logo-project {
  min-height: 200px;
  background: #FFF;
  margin-top: 26px;
  border-radius: 20px;
}
.content-proyect .logo-project img {
  text-align: center;
  vertical-align: middle;
}
.content-proyect .title-sections {
  background-color: #e9721c;
  font-size: 20px;
  color: #FFF;
  padding-left: 10px;
  width: 50%;
  border-radius: 5px;
  padding: 13px 0px 10px 10px;
  position: relative;
  z-index: 2;
}
.content-proyect article.item-project {
  width: 95%;
  margin: auto;
  padding: 40px 20px;
  border-radius: 10px;
  font-size: 16px;
}
.comment-avatar img{
  width: 100%;
  height: 100%;
}
/*Search form */
#searchform{
  position: relative;
  width: 100%;
  padding-top: 20px;
}
.searchform input[type=text]{
  color: #0072bc;
  border: none !important;
  height: 36px;
  width: 100%;
}
.screen-reader-text{
  display: none;
}
.searchform input#searchsubmit{
    background: url("../images/search.png") center center #424446 no-repeat;
    color: transparent;
    position: absolute;
    right: 0px;
    top: 20px;
    width: 35px;
    max-width: 35px;
    min-width: 35px;
    height: 36px;
}
